<div class="footer">
    <div class="footer-inner">
        <!-- #section:basics/footer -->
        <div class="footer-content">
            <span>
                <span>
                    <a href="#">
                        <i class="fa fa-line-chart"></i>
                        <strong>Pipeline 99</strong>
                    </a> © Copyright 2015. All Rights Reserved.
                </span>

                &nbsp; &nbsp;
        </div>

        <!-- /section:basics/footer -->
    </div>
</div>