<div class="panel panel-default">
		<div class="panel-body">
			 <div style="padding:25px">		
				<form>
                                        <div class="row">
						<div>				
							<div class="form-group">
								
                                                                Please provide your email address and we'll send you instructions 
                                                                on how to change your password
                                                                
                                                        </div>
						</div>
					</div>
					<div class="row">
						<div>				
							<div class="form-group">
								<label for="username">Email</label>
								<input type="email" class="form-control" id="username" required="*" placeholder="">
							</div>
						</div>
					</div>
					<div class="row">
							<div class="form-group">
								<button id="signinbutton" class="btn btn-danger center-block">Retrieve my password</button>
							</div>
					</div>
                                        <div class="text-center">
                                            <div class="form-group">
                                                
                                                    Back to <a href="{{path('login_login_signin')}}">log in</a>
                                                <br>
                                                
                                                Don't you have an account yet? <a href="{{path('login_login_signupV2')}}">Sign Up</a>
                                                
                                            </div>
					</div>
                                </form>
			</div>
			
		</div>
</div>
