	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="container container-top">
			<!-- navbar-header -->

				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.php"><span style="font-family: 'Oswald', serif;">PIPELINE<font color="#95BE22"><strong> 99</font></strong></a></span>
				</div>
				<!-- /.end navbar-header -->
				
				<!-- Top Black Menu -->
				<ul class="nav navbar-top-links">
					<li>
						<a href="#" data-toggle="tooltip" data-placement="bottom" title="Features"><i class="fa fa-bullhorn"></i></a>
					</li>
					<li>
						<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pricing"><i class="fa fa-usd"></i></a>
					</li>
					<li>
						<a href="{{path('login_login_signin')}}" data-toggle="tooltip" data-placement="bottom" title="Login"><i class="fa fa-sign-in"></i></a>
					</li>
					<li>
						<a href="{{path('login_login_signupV2')}}" data-toggle="tooltip" data-placement="bottom" title="Start Free Trail"><font color="#95BE22"><strong><i class="fa fa-share"></i> Start your Free Trail</font></strong></a>
					</li>
				</ul>
				
				<!-- /.end Top Black Menu -->
				
			</div>
    </nav>
