<!-- Page Wrapper -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Security</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row&rdquo">
            <div class="panel panel-default">
                <div class="panel-body">    
                    <div class="col-lg-12" style="text-align: justify">					
                        <p>PIPELINE99 is committed to protecting your data. At PIPELINE99, the security of our application and your data is a top priority. We use industry best practices to establish and maintain a secure online experience. And we always remember that your data is your data. We never touch your data without your explicit permission, and we make it easy to export it whenever you want.</p>


                        <h4>Secure connections</h4>
                        <ul>
                            <p>When you log into PIPELINE99, you are connected via a 256 bit extended-validation SSL security certificate provided by Thawte. This type of secure connection is comparable to the online security provided by many major banks and financial institutions. You can verify that you are indeed connected to PIPELINE99 via a secure connection. When you're logged in, your browser bar will display either a green bar or a lock icon near the web address.</p>
                        </ul>

                        <h4>Secure data centers</h4>
                        <ul>							    		
                            <p>Located at Terremark's flagship facility, NAP of the Americas, our servers sit atop of one of the most connected access points on the globe—and one of the most significant telecommunications projects in the world.</p>
							
							<p>NAP of the Americas is also one of the country's most secure places—used by the U.S. government, banks, the world's largest telecommunications companies and some of the top e-commerce and social media sites on the planet. Security is monitored 24/7/365 with armed security personnel, controlled key access to all areas with the latest security technology. Even with approved access, security is rigorous</p>
                        </ul>

                        <h4>Redundant backups</h4>
                        <ul>	
                            <p>We back up our entire database every hour in geographically redundant locations.</p>

                        </ul>
						
						<h4>Third-party authentication</h4>
						<ul>
						<p>PIPELINE99 authenticity and security is validated by Thawte, a Symantec company, and trusted authority that provides third party verification for websites around the world.</p>
						</ul>
										
                        <br><br><br>			
                        <!-- /.panel-default -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>