<!DOCTYPE html>
<html lang="en">

		{% include 'LoginLoginBundle:Default:head_v2.html.twig' %}		
                
<body>
    
    
        <!-- Navigation -->
	{% include 'LoginLoginBundle:Default:navigation.html.twig' %}
		<!-- Second Menu -->		
	{% include 'LoginLoginBundle:Default:secondmenu.html.twig' %}

    <section id="intro" class="intro-section">
        <div id="cont" class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <h1 class ="page-header">Sign In</h1>
                    </div>
                    <div class="col-md-4">
                    </div>
		<!-- /.col-lg-12 -->
		</div>
                <!-- /.row -->
		<div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        {% include 'LoginLoginBundle:Default:signinform.html.twig' %}
                        <!-- /.panel-default -->
                    </div>
                    <div class="col-md-4">
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
    </section>
        <!-- Page Wrapper -->
    		
    <div class="container-fluid hidden-lg hidden-md">
            <div class="row">
                    <div class="col-lg-12" style="height: 200px;z-index: -1;">
                        
                    </div>
            </div>
    </div>
        
        <!-- /#page-wrapper -->
    <section id="about" class="about-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="padding-left: 0;padding-right: 0">
                        {% include 'LoginLoginBundle:Default:footer_v2.html.twig' %}
                    </div>
                </div>
            </div>
    </section>

    {% include 'LoginLoginBundle:Default:scripts.html.twig' %}
    <script src="{{asset('bundles_v2.0/dist/js/sb-admin-2.js')}}"></script>
    <script src="{{asset('bundles_v2.0/bower_components/raphael/raphael-min.js')}}"></script>
    <script src="{{asset('bundles_v2.0/bower_components/morrisjs/morris.js')}}"></script>
    <script src="{{asset('bundles_v2.0/js/morris-data.js')}}"></script>
</body>

</html>