
	<div class="panel panel-default">
		<div class="panel-body">
			 <div class="col-xs-6" style="border-right:1px solid #ccc;height:100%">		
				<form>
					<div class="row">			
						<div class="col-xs-10">
							<div class="form-group">
								<label for="firstname">First Name</label>
								<input type="text" class="form-control" id="name" required="*" placeholder="">
							</div>
						</div>
					</div>
					<div class="row">			
						<div class="col-xs-10">
							<div class="form-group">
								<label for="Last Name">Last Name</label>
								<input type="text" class="form-control" id="lastname" required="*" placeholder="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-10">				
							<div class="form-group">
								<label for="username">Username</label>
								<input type="text" class="form-control" id="username" required="*" placeholder="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-10">
							<div class="form-group">				
								<label for="company">Company Name</label>
								<input type="text" class="form-control" id="company" placeholder="Your company name">
							</div>
						</div>
					</div> 
					<div class="row">
						<div class="col-xs-10">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="email" required="*" placeholder="yourname@yourdomain.com">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-10">
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="email" required="*" placeholder="minimum 8 characters">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-10">
							<div class="form-group">
								<label for="salesteam">Sales Team Size</label>
								<select class="form-control" name="size" id="form-field-select-1">
																												<option>1-10</option>
                                                                    <option>11-50</option>
                                                                    <option>51-100</option>
                                                                    <option>100+</option>		
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-10">
							<div class="form-group">
								<label for="industry">Compay Industry</label>
								<select class="form-control" name="industry" id="form-field-select-2">
                                                                    <option>Software,App Development</option>
                                                                    <option>Health</option>
                                                                    <option>Tech Startup</option>
                                                                    <option>Education and Training</option>
                                                                    <option>Real Estate</option>
																												<option>Insurance</option>
                                                                    <option>Creative Agency (Web,Advertising,Video)</option>
                                                                    <option>Financial or Credit Services</option>
                                                                    <option>News, Media and Publications</option>
                                                                    <option>Manufacturing</option>
                                                                    <option>IT Services</option>
                                                                    <option>Consulting</option>
                                                                    <option>Other</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-xs-10">
								<label class="checkbox-inline">
									<input type="checkbox" value="agree">  I agree to the <a href="#">Terms and Conditions</a>.
								</label>
							</div>
						</div>	
					</div>
					<br><br>
					<div class="row">
						<div class="col-xs-10">
							<div class="form-group">
								<button id="savebutton" class="btn btn-primary">Save</button>
								<button id="cancelbutton" class="btn btn-default">Cancel</button>
							</div>
						</div>
					</div>
			</div>
				
			<div class="col-xs-6">
						<h4>Every feature is included in the free trail. Experience the full power of <strong>PIPELINE <font color="#95BE22">99</font></strong></h4>
						<div style="text-indent: 1em;">
						<i class="fa fa-check-square-o"></i> No credit card required
						</div>
						<div style="text-indent: 1em;">
						<i class="fa fa-check-square-o"></i> No obligation
						</div>
						<div style="text-indent: 1em;">
						<i class="fa fa-check-square-o"></i> Stop using any time you want
						</div>
						<h4> Need even more reasons to sign up?</h4>
						<div style="text-indent: 1em;">
						<i class="fa fa-check-square-o"></i> Flat pricing after trail
						</div>
						<div style="text-indent: 1em;">
						<i class="fa fa-check-square-o"></i> Unlimited Users
						</div>
						<div style="text-indent: 1em;">
						<i class="fa fa-check-square-o"></i> Unlimited Deals
						</div>
						<div style="text-indent: 1em;">
						<i class="fa fa-check-square-o"></i> Unlimited Contacts
						</div>
						<div style="text-indent: 1em;">
						<i class="fa fa-check-square-o"></i> Only what you need
						</div>
						<div style="text-indent: 1em;">
						<i class="fa fa-check-square-o"></i> Start work within minutes
						</div>
						<div style="text-indent: 1em;">
						<i class="fa fa-check-square-o"></i> Increase your revenue
						</div>
                            </div>
				
			</form>
		</div>
	</div>
