
	<div class="panel panel-default">
		<div class="panel-body">
			 <div style="padding:25px">		
				<form>
					<div class="row">
						<div>				
							<div class="form-group">
								<label for="username">Username</label>
								<input type="text" class="form-control" id="username" required="*" placeholder="">
							</div>
						</div>
					</div>
					<div class="row">
						<div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" required="*">
							</div>
						</div>
					</div>
                                        <div class="row">
							<div class="form-group">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" id="rememberMe">Remember Me
                                                            </label>
							</div>
					</div>
					<div class="row">
							<div class="form-group">
								<button id="signinbutton" class="btn btn-primary center-block">Sign In</button>
							</div>
					</div>
                                        <div class="text-center">
                                            <div class="form-group">
                                                
                                                    <a href="{{path('login_login_forgetPassword')}}">Forgot Password?</a>
                                                
                                                    <br>
                                                    Don't you have an account yet? <a href="{{path('login_login_signupV2')}}">Sign Up</a>
                                                
                                            </div>
					</div>
                                </form>
			</div>
			
		</div>
	</div>
