<script src="{{asset('bundles/loginlogin/js/jquery.number.js')}}"></script>
<script src="{{asset('bundles/loginlogin/js/jquery.maskedinput.js')}}"></script>

<!-- Modal -->
<div class="modal fade" id="addStageModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Stage</h4>
            </div>
            <div class="modal-body">
                <form action="{{path('settings_savestage')}}" role="form" method="post" enctype="multipart/form-data"
                      onsubmit="return saveNewStageInfo()">
                    <div class="row">			
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="firstname">Name <span style="color:#FF0000;">*</span></label>
                                <input type="text" name="name" class="form-control" id="addStageName" placeholder="Name" autocomplete="off"
                                       placeholder="Name" onkeyup="stageAvailability()" required/>
                                <div id="stageerror"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">			
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="Last Name">Chance of Sale <span style="color:#FF0000;">*</span></label>
                                <div class="input-group" >
                                    <input type="text" name="salechance" class="form-control" id="addStageSalechancenew" autocomplete="off"
                                           placeholder="Chance of sale" required/>
                                    <span class="input-group-addon">
                                        %
                                    </span>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">				
                            <div class="form-group">
                                <label for="username">Notes</label>
                                <textarea  id="addStageNotes" placeholder="Notes" class="form-control" name="notes" rows ="4"
                                        ></textarea>
                                <div id="usernameerror"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="avatar"> </label>
                                <button id="savebutton" class="btn btn-primary">Save</button>
                                <a class="btn btn-default"  data-dismiss="modal" href="#">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    jQuery(function ($) {
        $('#addStageSalechancenew').number(true, 0);
{#        $("#addStageSalechancenew").mask("99");#}
    });
    
    $("#addStageSalechancenew").on('keydown', function(e){
        //96 105 48 57#}
        if ((48 <= e.keyCode && e.keyCode <= 57)) {
            var value = $("#addStageSalechancenew").val();
            if (parseInt($("#addStageSalechancenew").val() + (e.keyCode - 48), 10) > 100) {
                e.preventDefault();
            }
        }
        
        if ((96 <= e.keyCode && e.keyCode <= 105)) {
            var value = $("#addStageSalechancenew").val();
            if (parseInt($("#addStageSalechancenew").val() + (e.keyCode - 97), 10) > 100) {
                e.preventDefault();
            }
        }
        
    });
</script>
{% include 'SettingsBundle:Stages:stageformScript.html.twig' %}