<div class="modal fade" id="lostModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h4 class="modal-title smaller lighter blue">Lost Opportunity</h4>                                                       
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="notes" >Reason</label>
                    <br>
                    <div class="input-group col-sm-12">      
                        <textarea  id="modalreason" class="form-control col-sm-12" rows="4" name="modalreason" data-parsley-pattern="^[a-zA-Z0-9,.:;'_ ]*$" data-parsley-trigger="keyup"></textarea>
                    </div>    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="return setReason();" >Save</button>
                <button type="button" class="btn btn-default" onclick="return clearReason();" >Clear</button>
            </div>
        </div>

    </div>
</div>