												  <div class="tab-pane fade in active" id="glossary">							
													<div class="panel-body">
													<h4>Contacts</h4><br>
														<div class="panel-group" id="accordion">
															<div class="panel panel-default">
																<div class="panel-heading">
																	<h4 class="panel-title">
																		<a data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion" href="#collapse11">Person</a>
																	</h4>
																</div>
																<div id="collapse11" class="panel-collapse collapse">
																	<div class="panel-body">
																		People are the individuals you want to sell something to or have tried selling something to in the past. It’s a good idea to save all the personal information that’s unique to each person; things like phone numbers, email addresses, or any tags you’d like to add, such as hobby. Person can be associated with an Organization, e.g., IBM.  
																		Use tags with your Contacts, so that they reflect/match the way you run your business.You can also import your contacts by importing via spreadsheet.
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading">
																	<h4 class="panel-title">
																		<a data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion" href="#collapse12">Organizations</a>
																	</h4>
																</div>
																<div id="collapse12" class="panel-collapse collapse">
																	<div class="panel-body">
																		Organizations can contain multiple people therein, so it makes sense to keep general company information stored within the itself, such as the main company address, or again any tags fields you’d like to add.
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading">
																	<h4 class="panel-title">
																		<a data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion" href="#collapse13">Partners</a>
																	</h4>
																</div>
																<div id="collapse13" class="panel-collapse collapse">
																	<div class="panel-body">
																		It is critical that you track all your sales referrals, whether you enter into a formal agreement or simply take an email of a lead pass from a trusted business partner in your network. Enter the Deal into pipeline99 with the proper compensation to identify payout to your referral source. Enter when you receive the lead and monitor the progress of the lead as it moves through your sales pipeline. Measure all your partners to see how they are helping you grow revenues. It will provide you intelligence in how to manage the relationship for maximum profitability.
																	</div>
																</div>
															</div>

													<br>
													<h4>Deals</h4>
													<div>A deal is short-term series of conversations between salesperson and a contact, potentially leading to a sale. All open Deals move along the pipeline until they’re closed and into historical Statistics. In retrospective, all deals are either lost or won. You can track the progress of your deals in the sales pipeline, see them organized by date in the timeline view, or get an overview of all your deals in the list view.</div><br>
															<div class="panel panel-default">
																<div class="panel-heading">
																	<h4 class="panel-title">
																		<a data-toggle="collapse" data-parent="#accordion" href="#collapse21">Adding new deals</a>
																	</h4>
																</div>
																<div id="collapse21" class="panel-collapse collapse">
																	<div class="panel-body">
																	Whenever you get an idea to sell something to someone you’ll want to open a new deal. To add a new deal
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading">
																	<h4 class="panel-title">
																		<a data-toggle="collapse" data-parent="#accordion" href="#collapse22">Deal details view</a>
																	</h4>
																</div>
																<div id="collapse22" class="panel-collapse collapse">
																	<div class="panel-body">
																		 Click on the deal headline anywhere in pipeline99 to see the details of that deal or also edit them
																	</div>
																</div>
															</div>
															<div class="panel panel-default">
																<div class="panel-heading">
																	<h4 class="panel-title">
																		<a data-toggle="collapse" data-parent="#accordion" href="#collapse23">Tracking deals in a sales pipeline</a>
																	</h4>
																</div>
																<div id="collapse23" class="panel-collapse collapse">
																	<div class="panel-body">
																		A sales pipeline is a set of steps you need to take in order to close a Deal (the steps are called Pipeline Stages in Pipedrive and can be customized to fit your workflow). Having a sales pipeline helps you visualize the process of getting a Deal won and also gets the entire team on the same page so everyone knows what the process is like. In pipeline99 this concept is made very visual, the steps are displayed from left to right and you can drag your Deals forward through the pipeline as progress is made
																	</div>
																</div>
															</div>	
														</div>
													</div>
												</div>