<div class='col-xs-12' style='overflow:auto;height:375px;'>
    <div class="row" id="chat_window_1">
        <div class="col-xs-12" id="chatbody" >
        	   
                    
                    
                
        </div>
         <input type="hidden" name="typeid" id="typeid">  
    </div>
    
</div>