		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-12">
						<ul class="footer-menu">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Security</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="Privacy.php">Privacy</a></li>
							<li><a href="TermsofService.php">Terms of Use</a></li>
						</ul>
					</div>
					<!-- <div class="col-md-4 col-sm-12">
						<ul class="social-profile">
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div> -->
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<p class="copyright">&copy; <strong>PIPELINE <font color="#95BE22">99</font></strong>. All right reserved 2015</p>
					</div>
				</div>
			</div>
			<a href="#" class="scrollToTop"><img src="{{asset('bundles_v2.0/img/Back2Top.png')}}" alt="top" class="img-responsive" /></a>
		</footer>